{% extends "fefu_lab/base.html" %}

{% block title %}О нас{% endblock %}
{% block heading %}О нашей образовательной платформе{% endblock %}

{% block content %}
<div class="student-info">
    <p>Мы - ведущая образовательная платформа, предоставляющая качественное образование 
    в области информационных технологий и кибербезопасности.</p>
    
    <p>Наша миссия - подготовить высококвалифицированных специалистов, 
    готовых к решению современных задач в IT-индустрии.</p>
</div>
{% endblock %}