<!DOCTYPE html>
<html>
<head>
    <title>Fefu Lab - {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fefu_lab/css/style.css' %}">
</head>
<body>
    <div class="navigation">
        <a href="/">Главная</a> | 
        <a href="/about/">О нас</a> | 
        <a href="{% url 'student_list' %}">Студенты</a> |
        <a href="{% url 'course_list' %}">Курсы</a> |
        <a href="/feedback/">Обратная связь</a> |
        
        {% if user.is_authenticated %}
            {% if user.profile.role == 'TEACHER' or user.profile.role == 'ADMIN' %}
                <a href="{% url 'profile' %}">Дашборд преподавателя</a> |
            {% else %}
                <a href="{% url 'profile' %}">Личный кабинет</a> |
            {% endif %}
            
            {% if user.is_staff or user.profile.role == 'ADMIN' %}
                <a href="/admin/">Админка</a> |
            {% endif %}
            

            <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}">Вход</a> |
            <a href="{% url 'register' %}">Регистрация</a>
        {% endif %}
    </div>    
    
    <div class="content">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        <h1>{% block heading %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
</body>
</html>